@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
}

$primary-color: #be8cfd;
$secondary-color: #3b209e;
$third-color: #1682f7;
$fourth-color: #7d38b1;
$fifth-color: #eeadb3;
$sixt-color: #d6f3ff;

.radius20 {
  border-radius: 20px;
}

.bold-word {
  font-weight: bold;
}

header,
#parcours,
#projet,
#contact {
  padding: 3rem 2rem 3rem 2rem;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  color: $sixt-color;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
}
.navbar-toggler {
  background-color: $third-color;
  color: $secondary-color;
}
.navbar {
  background-color: $secondary-color;

  .nav-link {
    background-color: $third-color;
    color: $secondary-color;
    text-align: center;
  }
}

// acceuil-------------------------

.masthead {
  height: 100vh;
  background-image: url("https://github.com/AliNamooya/portfolio/blob/main/images/banner_left.PNG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .masthead-text-wrapper {
    width: 40%;
    background-color: #7d38b1e7;
    color: white;
  }
}

// Parcours---------------------------
#parcours {
  background-color: $fourth-color;

  .center-line {
    position: absolute;
    height: 170%;
    width: 4px;
    background-color: $sixt-color;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline-content {
    width: calc(50% - 40px);
    background-color: $sixt-color;
    position: relative;

    .timeline-content-header {
      background-color: #c7e5f2;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      padding: 0.5rem 1rem;
      margin-bottom: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    .timeline-content-body {
      flex: 1 1 auto;
      padding: 1rem 1rem;
    }
  }
  .timeline-content::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 16px;
    background-color: #c7e5f2;
    top: 40px;
    transform: rotate(45deg);
  }

  .parcours-item-1::before,
  .parcours-item-3::before,
  .parcours-item-5::before {
    right: -8px;
  }
  .parcours-item-2::before,
  .parcours-item-4::before {
    left: -8px;
  }

  .icon {
    position: absolute;
    background: $fourth-color;
    color: $fifth-color;
    text-align: center;
    line-height: 55px;
    border-radius: 50%;
    top: 20px;
    font-size: 40px;
  }

  .parcours-item-1 .icon,
  .parcours-item-3 .icon,
  .parcours-item-5 .icon {
    right: -67px;
  }

  .parcours-item-2 .icon,
  .parcours-item-4 .icon {
    left: -67px;
  }
}

#projet {
  background-color: $primary-color;

  img {
    transition: all 0.2s ease-in-out;
  }

  img:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

#contact {
  background-color: $secondary-color;

  .contact-list {
    list-style: none;
    justify-content: space-between;
    gap: 10%;

    .contact-icon {
      color: $third-color;
      font-size: 60px;
      transition: all 0.2s ease-in-out;
    }
    .contact-icon:hover {
      transform: scale(1.5);
    }
  }
}

.modal-content {
  background-color: $sixt-color;
}

// responsive--------------------------
@media screen and (max-width: 960px) {
  .masthead-text-wrapper {
    width: 50% !important;
  }
  #parcours .container {
    margin-left: 30px;
  }
  .center-line {
    left: 30px !important;
    height: 150% !important;
  }

  .timeline-content-wrapper {
    justify-content: flex-start !important;
    margin-bottom: 20px;
  }

  .timeline-content {
    width: 100% !important;
    margin-left: 30px;
  }

  .timeline-content::before {
    left: -8px;
  }
  .parcours-item-1 .icon,
  .parcours-item-3 .icon,
  .parcours-item-5 .icon {
    right: unset !important;
    left: -67px;
  }
}

@media screen and (max-width: 768px) {
  .center-line {
    height: 160% !important;
  }
  .masthead-text-wrapper {
    width: 95% !important;
  }
  .masthead {
    background-position: center right -260px;
  }
}

@media screen and (max-width: 576px) {
  .center-line {
    height: 0 !important;
  }
  .masthead {
    background-position: center right -230px;
  }
  .masthead-text-wrapper {
    margin-top: 15%;
  }
  #projet {
    height: auto;
  }
}
