@media screen and (max-width: 960px) {
  .background-fixed::before {
    background-position: center right -350px;
  }
  .masthead-text-wrapper {
    width: 50% !important;
  }
  #parcours .container {
    margin-left: 30px;
  }
  .center-line {
    left: 30px !important;
  }

  .timeline-content-wrapper {
    justify-content: flex-start !important;
    margin-bottom: 20px;
  }

  .timeline-content {
    width: 100% !important;
    margin-left: 30px;
  }

  .timeline-content::before {
    left: -8px;
  }
  .parcours-item-1 .icon,
  .parcours-item-3 .icon,
  .parcours-item-5 .icon {
    right: unset !important;
    left: -67px;
  }

  .info {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .masthead-text-wrapper {
    width: 95% !important;
  }
  .background-fixed::before {
    background-position: center right -260px;
  }
}

@media screen and (max-width: 576px) {
  .background-fixed::before {
    background-position: center right -230px;
  }
  .masthead-text-wrapper {
    margin-top: 15%;
  }
  #projet {
    height: auto;
  }
}
@media screen and (max-width: 414px) {
  .background-fixed::before {
    background-position: center right -330px;
  }
}
