.radius20 {
  border-radius: 20px;
}

.bold-word {
  font-weight: bold;
}

header,
#parcours,
#projet,
#contact {
  padding: 3rem 2rem 3rem 2rem;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  color: $sixt-color;
}
